node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

#pip and venv
.venv/
backend/.vmt_venv
backend/.env
backend/__pycache__/backend.cpython-38.pyc
backend/__pycache__/backend.cpython-310.pyc
backend/data/*.webm
